
body {
    font: 20px Verdana;
}

.navbar {
    background-color: #298a08;
}

.quem-somos {
    background-color: #A8B7F5;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #F87D43;
}

.bg-footer {
    background-color: black;
    text-align: center;
    color: white;
}